# node
**/node_modules

# azion
**/.edge
**/azion
**/azion1

# Next.js
**/.next
**/.vercel

# Angular
**/dist
**/.angular

# Opennextjs
**/.open-next

# Rust
**/target

# Ruby
**/.bundle
**/vendor/bundle

# misc
.mcp.json
ossf_report.json
